* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url(assets/images/rock.JPG) no-repeat center;
    background-size: cover;
    background-color: #0000ff;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.card {
    color: #ffffff;
    width: auto;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: .5s;
    -webkit-transition: .5s;
}
div.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
div.card h1 {
    font-weight: 500;
}
div.card div {
    margin: 20px;
}
div.card div a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 5px;
    padding: 5px;
    font-size: 1.1rem;
    transition: .5s;
    -webkit-transition: .5s;
}

div.card button {
    border: none;
    background-color: #ffffff;
    color: #0000ff;
    margin: 20px;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
}

div.card:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.2);
}
div.card div a:hover, div.card button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 255, 1);
}
div.card div a:active, div.card button:active {
    box-shadow: none;
}


@media screen and (max-height: 600px) {
    div.card {
        height: 95vh;
    }
}
@media screen and (max-height: 462px) {
    div.card {
        height: 80vh;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-height: 320px) {
    div.card {
        height: 90vh;
    }
}
@media screen and (max-width: 600px) {
    div.card {
        width: 95vw;
        overflow: hidden;
    }
}
@media screen and (max-width: 462px) {
    div.card {
        width: 90vw;
        overflow: hidden;
    }
}